<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yazar Arayüzü</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash-free-bootstrap-admin-template-main/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash-free-bootstrap-admin-template-main/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash-free-bootstrap-admin-template-main/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash-free-bootstrap-admin-template-main/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash-free-bootstrap-admin-template-main/template/images/favicon.png" />
</head>