    <!-- partial:_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/writer/dashboard/index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/home/index">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Duyurular</span>
			</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/writer/UserProfil/index">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="ti-email menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
           
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/newmessage">Yeni Mesaj</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/sendmessage">Gönderilen Kutusu</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/receivermessage">Gelen Kutusu</a></li>
                </ul>
            </div>
        </li>
       
		<li class="nav-item">
			<a class="nav-link" href="/writer/UserProfil/index">
				<i class="ti-settings menu-icon"></i>
				<span class="menu-title">Ayarlarr</span>
			</a>
		</li>
  
      
        <li class="nav-item">
            <a class="nav-link" href="/writer/Login/logout">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış</span>
            </a>
        </li>
       
    </ul>
</nav>
<!-- partial -->
