
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Portfolio

<div class="container-contact100">
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Portfolyo Güncelle
        </span>
        <form method="post" class="contact100-form">
    <div class="wrap-input100 validate-input" >
        <input class="input100" type="text" asp-for="PortfolioID"  hidden readonly>
        <span class="focus-input100"></span>
    </div>

        @await Html.PartialAsync("_AddandUpdateLayout")

        </form>
    </div>
</div>

